
body {
  overflow: hidden;
    background-color: azure;
}
#box{
	 position: relative;
	width: 450px;
	height: 400px;
	 background-color: aqua;
	position: relative;
	margin-left:35%;
	margin-top: 2%;
		
}
#quiz
{
    position: relative;
	left:70px;
    top:0px;
	font-style: oblique;
	font-size:40px;
}
h2{
	position: relative;
	margin-left:32%;
	margin-top: 10%;
	font-style: oblique;
	font-size:40px;
	
}
#first,#second,#ans{border-style:hidden;border-right-style:hidden; border-radius: 8px;}
#first{
	position:absolute;
	left:30px;
	top:120px;
	width: 100px;
	height: 85px;
	font-size:50px;
     padding-left: 10px;
}
#second{
	position:absolute;
	left:300px;
	top:120px;
	width: 100px;
	height: 85px;
	font-size:50px;
    padding-left: 10px;
}
h1{
	position: relative;
    left:210px;
	top:110px;
	font-size:70px;
}
#ans{
	position:absolute;
	left:140px;
	top:260px;
	width: 190px;
	height: 30px;
	font-size:30px;
	font-family: serif;
	box-sizing: border-box;
	padding-left: 80px;
    justify-content: flex-start;
}

#check{
	position:relative;
	left:140px;
	top:320px;
	width: 170px;
	height: 30px;
	border-style:solid;
	border-width: thin;
	border-color: black;
	border-radius: 2px;
	padding-left: 15px;
	padding-top: 2px;
	box-sizing: border-box;
	border-radius:3px;
	background-color: darkseagreen;
    color:black;
    font-family: serif;
	font-size:20px;
	
}
#text
{
	position: absolute;
	left:-50px;
	top:350px;
	border-style: hidden;
	border-radius: 3px;
	color: red;
	width:1000px;
	height: 30px;
}
#text1{
	position:absolute;
	left:40px;
	top:405px;
	color: black;
		
}
#text2{
	
	position:absolute;
	left:6px;
	top:2px;
	color: black;
}

#right
{
    position:relative;
	left:10px;
	top:3px;
	width: 100px;
	height: 100px;
	font-size:30px;
	
}

h4
{position: absolute; left:40px;font-size: 20px;}

#tim
{
position: absolute;left:40px;top:20px;font-size: 20px;
    font-family:cursive;
    
}
#time
{    padding: 20px;
    background-color: chartreuse;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    border-width: 3px;
    
position: absolute;left:100px;top:80px;font-size: 50px;
    font-family:cursive;
    
}

.slide
{
    position:absolute;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width:thick;
    left:725px;
    top:365px;
    
    
}
img
{
    width: 100%;
    justify-items: center;
}

button1
{ 
    position:absolute;
    padding: 0px;
    margin: 0px;
    width: 100%;
    left:2px;
    top:-17px;
}
.button1
{ 
    position:absolute;
    left:700px;
    top:380px;
    display:inline-grid;
}
.button2
{ 
    position:absolute;
    left:785px;
    top:380px;
    display:inline-grid;
}

#congrats
{    
    font-size: 40px;
}

